.slick-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slick-next {
  height: 45px;
  right: 50px;
}

.slick-prev {
  left: 50px;
  height: 45px;
  z-index: 2;
  transform: rotate(180deg);
  margin-top: -22px;
}

@media screen and (max-width: 700px) {
  .slick-slider {
    top: 110px;
  }
}
